.Tamanho{
    width: 863px;
 }
 .Desing_cabeçario{
    width: 863px;
    height: 55px;
    font-family: 'Bebas Neue', cursive;
    font-size: 100%;
}
.Desing_menu{
    width: 863px;
    height: 60px;
    border: none;
}
.Desing_logo{
    width: 50px;
    height: 45px;
}
.Desing_opcoes{
    width: 500px;
    height: auto;
    font-size: auto;
    text-align: center;
    border: none;
}
.Desing_Compra{
    align-items: flex-end;

}
.Desing_centralizar{
    width: 863px;
    height: auto;
    align-items: center;
    text-align: center;
}
.Desing_produto{
    background-color: rgb(235, 231, 231);
    color:#030303;
    border: 3px;
    border-color:black;
    border-radius: 5px;
    width: 350px;
    height: 500px;
    padding: 6px;
    align-items: center;
    text-align: center;
    float: left;
}
.preço{
    font-family: 'Mukta', sans-serif;
}