t{
    color: #fff;
}
.Desing_cabeçario{
    width: 863px;
    height: 55px;
    font-family: 'Bebas Neue', cursive;
    font-size: 100%;
}
.Desing_menu{
    width: 863px;
    height: 60px;
   
    border: none;
}
.Desing_logo{
    width: 50px;
    height: 45px;
}
.Desing_opcoes{
    width: 500px;
    height: auto;
    font-size: auto;
    text-align: center;
    border: none;
}
.Desing_Compra{
    align-items: flex-end;

}
.Desing_centralizar{
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
}
.campo{
    width: 300px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    border:solid 2px;
    border-radius: 2px;
    font-family:Arial;
    margin-top:3px;
    background-color:#ccc ;
    border-color: none;
}

input:invalid {
    border-color: red !important;
}
input:valid{
    border-color: rgb(3, 187, 3) !important;
}
span{
    position: relative;
}
input:invalid + span::before,textarea + span::before{
    content:'✖';
    color: red;
}
input:valid + span::before,textarea + span::before{
    content:'✓';
    color: rgb(3, 187, 3);
}
input + span::before{
    position: absolute;
    right: 10px;
    top: -3px;
}
textarea + span::before{
    position: absolute;
    right: 10px;
    top:-3px;
}
.Fundo{
    background-color: rgb(168, 214, 97)!important;
    color: #fff;
    height: 100%;
    width: 100%;
    padding-top: 110px;
}

.tabela{
    background-color: #fff !important;
    border-radius: 15px;
    align-items: center !important;
    width: 500px;
    height: 300px;
}
.titulo{
    color:black;
    font-family: 'Lora', serif;
    padding: 10px;
}

p{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: medium;
}
.criarConta{
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    color: black;
    border:none;
    font-size: medium;
}
.criarConta:hover{
    color:blue;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-decoration: underline;
    border:none;
}
.botaoSalvar{
    background-color: #04B486;
    color: white;
    width:  200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}
.botaoEntrar{
    background-color: #04B486;
    color: white;
    width:  200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}
.botaoEntrar:hover{
    background-color: #04B486;
    color:white
}
.voltar{
    background-color: #232424;
    color: #fff;
    width: 100px;
    height: 20px;
    border-radius: 50px;
    border-color: #fff;
    margin: 2px;
}
.voltar:hover{
    width: 105px;
    height: 23px;
}